@import '../../../components/GlobalStyles/Grid.module.scss';
/* ----------------------CONTAINER------------------------ */
.error {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}
.new_title {
    position: relative;
    background-color: white !important;
    margin-top: 16px;

    &::after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #ffbe00;
    }

    .title-h2 {
        color: #fff;
        line-height: 35px;
        margin: 0;
        position: relative;
        display: inline-block;
        letter-spacing: normal;
        background: #ffbe00;
        z-index: 1;

        a {
            color: #fff;
            text-decoration: none;
            margin-right: 6px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 0;
            right: -35px;
            height: 0;
            border-style: solid;
            border-width: 40px 0 0 36px;
            border-color: transparent transparent transparent #ffbe00;
        }
    }

    .breadcrumb {
        position: relative;
        list-style: none;
        padding: 3px 12px 2px 20px;
        text-transform: uppercase;
        font-size: 15px;

        .breadcrumb-item {
            display: inline-block;

            & + .breadcrumb-item::before {
                display: inline-block;
                padding-right: 0.5rem;
                color: #fff;
                content: ' / ';
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
            }

            &:last-child {
                a {
                    font-weight: 600;
                }
            }
        }
    }
}

/* ----------------------CONTENT------------------- */

.thongtin,
.content {
    padding: 0 1rem 1rem 1rem;
}

.title-text {
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    color: #fff;
    line-height: 1.4;

    span {
        display: inline-block;
        position: relative;
        background-color: var(--primary-color);
        padding: 6px 20px;
        -webkit-transform: translateY(-13px);
        transform: translateY(-13px);

        &::after {
            border-right: 10px solid #646464;
            border-top: 13px solid transparent;
            content: '';
            left: -10px;
            position: absolute;
            top: 0;
        }
    }
}

.thongtin_title {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    height: 42px;
    margin-bottom: 0.8rem;
}

.wrapper .form-control {
    border: 1px solid #ebebeb;
    height: calc(2.7rem);
}

.form-control {
    display: block;
    width: 100%;
    height: 100% !important;
    padding: 0.8rem;
    line-height: 1.5;
    font-size: 1.4rem;
    color: #495057;
    background-color: #fff;
    font-weight: 400;
    background-clip: padding-box;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
    height: auto;
}

.product__wrapper {
    border-top: dashed 1px rgba(0, 0, 0, 0.19);
}

.product__img {
    padding: 0;

    .img {
        width: 90px;
        height: auto;
    }
}

.name-cart {
    font-weight: 600;
}

.price__wrapper {
    border-top: dashed 1px rgba(0, 0, 0, 0.19);
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
}

.price__chitiet {
    display: flex;
    align-items: center;
}

.number {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

    &__left {
        width: 50%;
    }

    &__right {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        margin-left: 0.5rem;

        &[class*='c-'] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.quantity-input {
    display: flex;
    align-items: center;
    border: 1px solid #ffbe00;
}

.quantity-input input[type='number'] {
    width: 100%;
    text-align: center;
}

.quantity-input button {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.quantity-input button:hover {
    background-color: #e0e0e0;
}

.deleteProductAll {
    background-color: #ff2d37;
    color: #fff;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    float: right;
    margin-top: 12px;

    &:hover {
        color: #fff;
        box-shadow: 0 4px 14px 0 rgba(110, 125, 131, 0.62);
    }
}

.price {
    width: 100%;

    span {
        font-weight: 700;
    }
}

.delete {
    color: #000;
    font-size: 18px;
}

.tongtien {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: dashed 1px rgba(0, 0, 0, 0.19);
    margin-top: 60px;

    &__left {
        padding: 0.8rem;
        font-weight: 700;
    }

    &__right {
        padding: 0.8rem;
        color: #ea1d28;
        font-size: 18px;
        font-weight: 700;
    }
}

.title_thanhtoan {
    display: inline-block;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: solid 1px red;
}

.payment__methonds {
    border-bottom: 1px solid #e5e5e5 !important;

    .payment__methonds-item {
        list-style: none;

        span {
            margin-left: 5px;
        }
    }
}

.btn__shopping--cart {
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #ff2d37;
    border-radius: 0.5rem;
    border: 1px solid #ebebeb;
    margin-top: 20px;

    &:hover {
        color: #fff;
        box-shadow: 0 4px 14px 0 rgba(110, 125, 131, 0.62);
    }

    svg {
        margin-right: 6px;
    }
}

.muasanphamkhac {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #44b362;
    text-decoration: none;
    background-color: transparent;
    margin: 16px 0;
    font-weight: 700;

    i {
        margin-left: 8px;
    }

    &:hover {
        color: #777;
        text-decoration: none;
    }

    svg {
        margin-left: 6px;
    }
}

.empty-cart {
    font-size: 30px;
    text-align: center;
}