@import '../../../../components/GlobalStyles/Grid.module.scss';
.active {
    background-color: #ddd !important;
    border-right: 1px solid #ffbe00 !important;
}

/* Responsive Grid */
[class*='col-'] {
    float: left;

    @media only screen and (min-width: 600px) {
        &.col-s-1 {
            width: 8.33%;
        }
    }

    @media only screen and (min-width: 1024px) {
        &.col-1 {
            width: 8.33%;
        }
    }
}
