@import '../Admin.module.scss';

.muasanphamkhac {
    width: 188px;
    float: right;
    color: #44b362;
    text-decoration: none;
    background-color: transparent;
    margin: 16px 0;
    font-weight: 700;

    i {
        margin-left: 8px;
    }

    &:hover {
        color: orangered;
        text-decoration: none;
    }

    svg {
        margin-right: 10px;
    }
}