/* --------------------footer---------------------- */
@import '../../../../components/GlobalStyles/Grid.module.scss';
.footer {
    background-color: #232228;

    &__wrapper {
        width: 100%;
        margin: 20px 0;
        display: flex;
    }

    .title-contact {
        font-size: 25px;
        color: #ffbe00;
        font-weight: 700;
        margin: 25px 0;
    }

    .footer-list {
        list-style: none outside;
        margin: 0;
        padding: 0;
        color: #b5b5b5;

        li {
            display: block;
            font-size: 15px;
            position: relative;
            margin: 15px 0;
            font-size: 16px;

            a {
                color: #fff;
            }

            i {
                display: inline-block;
                font-size: 70%;
                color: #fea500;
                margin-right: 10px;
                border: solid 1px #363636;
                width: 28px;
                height: 21px;
                text-align: center;
                line-height: 16px;
                border-radius: 3px;
            }
        }
    }

    .ul-footer {
        list-style: none outside;
        margin: 0;
        padding: 0;

        li {
            color: #fff;
        }
    }

    .title_h6 {
        font-size: 16px;
        font-weight: 500;
        margin: 10px 0;

        a {
            padding-left: 6px;
        }

        &:hover {
            svg,
            a {
                color: var(--primary-color);
            }
        }

        a {
            color: #b5b5b5;
        }
    }

    .sharefooter {
        display: inline-block !important;

        .itemshare {
            display: inline-block;
            vertical-align: middle;
            margin: 4px;

            &:hover {
                opacity: 0.5;
                color: #fff;
            }

            svg {
                width: 32px;
                height: 32px;
                color: #fff;
                text-align: center;
                margin-right: 5px;
                font-size: 24px;
                line-height: 32px;
                border-radius: 0.3rem;
            }
        }
    }

    .footer-img {
        margin: 10px 0;

        img:first-child {
            width: 170px;
            margin-right: 20px;
        }

        img:last-child {
            width: 70px;
        }
    }
}

.copyright {
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 55px;

    .text-ffbe00 {
        color: var(--primary-color);
    }
}
