// @import '../../../components/GlobalStyles/Grid.module.scss';
@import '../Admin.module.scss';
.tabcontent {
    .box {
        height: 100%;

        .box-left {
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.overview1 {
    margin: 20px;
    padding: 20px 0;
    border: 1px solid rgb(232, 233, 235);
    .col-m-12 {
        color: #064d0c;
        font-size: 18px;
        font-weight: bold;
        padding-left: 30px;
        line-height: 40px;
        background-color: white;
    }

    .row {
        display: flex;
        width: 100%;
        justify-content: center;

        .padding-box {
            width: 33%;
        }

        .box2 {
            border: 1px solid #e8b110;
        }

        .box2-top {
            text-align: center;
            border-bottom: 1px solid #e8b110;
        }
    }
}
.img {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}
.Details {
    .overview {
      span {
        font-weight: bold;
      }
  
      .tabcontent {
        .chooseover {
          label {
            margin-right: 10px;
          }
  
          select {
            padding: 5px;
          }
        }
  
        .sales {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          grid-gap: 20px;
  
          .money_week,
          .product_week,
          .return_week {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            background-color: #f4f4f4;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-top: 10px;
  
            span {
              margin-top: 10px;
            }
  
            i {
              margin-right: 10px;
            }
          }
  
          .week1 {
            i {
              margin-right: 5px;
            }
          }
  
          .icon-info {
            display: flex;
            align-items: center;
            margin-right: 15px;
  
            i {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  
  
  
