.title_h3 {
    font-weight: 500;
    line-height: 1.5;

    a {
        color: #333;
        display: block;
        padding: 14px;

        &:hover {
            color: var(--primary-color) !important;
        }
    }
}

li .title_h3 {
    font-size: 14px;
}