.header {
    width: 100%;
    height: 50px;
    background-color: #ffbe00;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    .title {
        color: white;
        font-size: 20px;
        padding: 0 14px;
        display: flex;
        align-items: center;
    }

    .box-login {
        color: white;
        font-size: 14px;
        border-left: 1px solid;
        padding: 15.5px 10px;
        width: auto;
        float: right;
        cursor: pointer;

        &:hover .box-login-bottom {
            display: block;
        }

        .box-login-bottom {
            height: auto;
            width: auto;
            display: none;
            position: fixed;
            top: 50px;
            right: 0px;

            button {
                border: none;
                padding: 10px;
                width: 100%;
                text-align: left;
                background-color: #0483cc;
                color: white;
                font-size: 12px;
                cursor: pointer;

                &:hover {
                    background-color: #295a77;
                }
            }
        }
    }
}
