.inputSearch {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    position: relative;
}

.iconSearch {
    top: 119px;
    font-size: 24px;
    position: absolute;
    right: 50px;
}